
<body>
    <aside class="mdc-drawer mdc-drawer--modal">
      <div class="mdc-drawer__content">
        <nav class="mdc-list">
          <a class="mdc-list-item mdc-list-item--activated mdc--name" href="#" aria-current="page" tabindex="0">
            <span class="mdc-list-item__ripple"></span>            
            <span class="mdc-list-item__text mdc--position">Desayunos</span>
          </a>
        <br>
        
          <a class="mdc-list-item mdc--name" href="#">
            <span class="mdc-list-item__ripple"></span>           
            <span class="mdc-list-item__text mdc--position" >Postres</span>
          </a>
          <br>
          <a class="mdc-list-item mdc--name" href="#">
            <span class="mdc-list-item__ripple"></span>            
            <span class="mdc-list-item__text position mdc--position">Platos Tipicos</span>
          </a>
          <br>
          <a class="mdc-list-item mdc--name" href="#">
            <span class="mdc-list-item__ripple"></span>            
            <span class="mdc-list-item__text position mdc--position">Comida Rapida</span>
          </a>
          <br>
          <a class="mdc-list-item mdc--name" href="#">
            <span class="mdc-list-item__ripple"></span>            
            <span class="mdc-list-item__text position mdc--position">Bebidas</span>
          </a>
        </nav>
      </div>
    </aside>
  
    <div class="mdc-drawer-scrim"></div>
    <div>Main Content</div>
  </body>

  <!--
      *este sidebar no me gusta, investigar mas viendo videos c-05-01-21
  -->

 