
<section>
    <!--h3 class=" text__size text--center">About Us</h3>

    <div class="about__img">
        <img class="about__responsive" src="../../assets/img/restaurant.png">
    </div>
    <p class=" about__p text--center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ipsum, voluptate corrupti numquam ab laborum molestiae doloribus quibusdam inventore officia distinctio quis praesentium, tempore nobis dolor perferendis odit, nesciunt blanditiis!
    </p>
</section-->

<mat-card class="card-about" >
    <mat-card-header class="center">
        <mat-card-title>About</mat-card-title>
    <br>
        <mat-card-subtitle class="card--subtitle">Version 0.0.1</mat-card-subtitle>
    </mat-card-header>
    <div class="center">
        <img class="card--img img--hover" src="../../../assets/img/restaurant.png"/>
    </div>

    <mat-card-content >
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Facere nobis odit quaerat temporibus, aliquam optio 
             ipsum obcaecati aut expedita, asperiores aspernatur 
             delectus praesentium porro dolor magni quam aliquid 
             voluptatem exercitationem!
        </p>
        <!--pre-->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing
                 elit. Sapiente accusamus sed rem soluta nesciunt,
                  quos consectetur, aspernatur unde adipisci natus 
                  quibusdam odio nulla recusandae optio dolorum et 
                  nostrum voluptates blanditiis?
            </p>
        <!--/pre-->
    </mat-card-content>
</mat-card>
</section>