/*.text__size{
    padding-top: 20px;
    font-size: xx-large;
}
.about__img{
    padding: 30px 50px;
    cursor: pointer;
}
.about__responsive {
    max-width: 100%;
    height: auto;
}
.about__p {
    padding: 10px 50px;
}
*/
//card
/*
.card--center{
    justify-content: center;
}
*/
//fin card

/*img{
    width: 50%;
    height: 50%;
}
*/
.card-about{
    
    background: #ffffff;
    color: #000000;
    height: 100%;
   
}
.center{
    margin:50px auto;
    justify-content: center;
    
}
.card--subtitle{
    margin-left: -15px;
}
.card--img{
    border-radius: 50%; 
    
    max-width: 100%;
    height: auto;   
}

/*
* un poco mal los estilos pero de a poco se va a corregir c-08-02-21
*/