<p>home works!</p>
<!--div class="container"-->
<article class="card__dish text--center">
    <mat-card class="post-card" >
        <mat-card-header>
            <mat-card-title >
                <a class="a__title" [routerLink]="'/'">Dish</a>
            </mat-card-title>
        </mat-card-header>
        <!--img matCardImage [src]=""/-->
        <img class ="img__home img--hover" alt="image dish" src="../../../assets/img/restaurant.png"/>
        <mat-card-content >
            <p>
                desc:
            </p>
        </mat-card-content>
    </mat-card>
</article>
<!--/div-->

<!--*ngFor="let post of posts" en post-card-->