//competencia sass
html{
    box-sizing: border-box; //esto deberia ir al stile.scss?..investigar o probar
}

*,*:before, *:after{
    box-sizing: inherit;
}
//fin sass
.card__dish{
    display: flex;
    //margin-left: 300px;
    //margin-right: 300px;
    justify-content: center;
    align-items: center;
    height: 60vh;


}
.a__title{
   
    text-decoration: none;   
    padding-left: 220px;
}
.img__home{
    
    //width: 500px;
    //height: 300px;
    //width:100%;
    max-width: 300px;
    height: auto;
   
}

//mobile 375px
@media(min-width:375px) and (max-width: 460px){

}
//desktop 1440px

//tablet
@media(min-width:461px) and (max-width: 1080px){
    
}
//1:34 min en competencia c-26-01-21
/*
 * div se centrean con margin: 50px auto segun los tamaños,
 * para verlo es necesario usar un border: 4px solid black 

 * 
*/

